                        Package    Version
affy                       affy     1.52.0
affyio                   affyio     1.44.0
askpass                 askpass        1.1
assertthat           assertthat      0.2.1
base64enc             base64enc      0.1-3
BH                           BH   1.75.0-0
Biobase                 Biobase     2.34.0
BiocGenerics       BiocGenerics     0.20.0
BiocInstaller     BiocInstaller     1.24.0
BiocManager         BiocManager    1.30.10
bitops                   bitops      1.0-6
brew                       brew      1.0-6
brio                       brio      1.1.1
cachem                   cachem      1.0.4
callr                     callr      3.5.1
cli                         cli      2.3.1
clipr                     clipr      0.7.1
clisymbols           clisymbols      1.2.0
commonmark           commonmark        1.7
covr                       covr      3.5.1
cpp11                     cpp11      0.2.6
crayon                   crayon      1.4.1
credentials         credentials      1.3.0
crosstalk             crosstalk      1.1.1
curl                       curl        4.3
cyclocomp             cyclocomp      1.1.0
data.table           data.table     1.14.0
desc                       desc      1.2.0
devtools               devtools      2.3.2
diffobj                 diffobj      0.3.3
digest                   digest     0.6.27
downlit                 downlit      0.2.1
dplyr                     dplyr      1.0.4
DT                           DT       0.17
ellipsis               ellipsis      0.3.1
evaluate               evaluate       0.14
fansi                     fansi      0.4.2
fastmap                 fastmap      1.1.0
foghorn                 foghorn      1.3.2
fs                           fs      1.5.0
gargle                   gargle      0.5.0
generics               generics      0.1.0
gert                       gert      1.2.0
gh                           gh      1.2.0
gitcreds               gitcreds      0.1.1
glue                       glue      1.4.2
gmailr                   gmailr      1.0.0
highr                     highr        0.8
htmltools             htmltools    0.5.1.1
htmlwidgets         htmlwidgets      1.5.3
httr                       httr      1.4.2
hunspell               hunspell      3.0.1
ini                         ini      0.3.1
inSilicoDb           inSilicoDb      2.7.0
inSilicoMerging inSilicoMerging     1.15.0
IRdisplay             IRdisplay        1.0
IRkernel               IRkernel      1.1.1
jsonlite               jsonlite      1.7.2
knitr                     knitr       1.31
later                     later    1.1.0.1
lazyeval               lazyeval      0.2.2
lifecycle             lifecycle      1.0.0
lintr                     lintr      2.0.1
magrittr               magrittr      2.0.1
markdown               markdown        1.1
memoise                 memoise      2.0.0
mime                       mime       0.10
mockery                 mockery      0.4.2
openssl                 openssl      1.4.3
parsedate             parsedate      1.2.0
pbdZMQ                   pbdZMQ      0.3-3
pillar                   pillar      1.5.0
pingr                     pingr      2.0.1
pkgbuild               pkgbuild      1.2.0
pkgconfig             pkgconfig      2.0.3
pkgdown                 pkgdown      1.6.1
pkgload                 pkgload      1.2.0
praise                   praise      1.0.0
preprocessCore   preprocessCore     1.36.0
prettyunits         prettyunits      1.1.1
processx               processx      3.4.5
promises               promises    1.2.0.1
ps                           ps      1.6.0
purrr                     purrr      0.3.4
R6                           R6      2.5.0
ragg                       ragg      1.1.1
rappdirs               rappdirs      0.3.3
rcmdcheck             rcmdcheck      1.3.3
Rcpp                       Rcpp      1.0.6
RCurl                     RCurl 1.95-0.1.2
rematch                 rematch      1.0.1
rematch2               rematch2      2.1.2
remotes                 remotes      2.2.0
repr                       repr      1.1.3
rex                         rex      1.2.0
rhub                       rhub      1.1.1
rjson                     rjson     0.2.20
rlang                     rlang     0.4.10
rmarkdown             rmarkdown        2.7
roxygen2               roxygen2      7.1.1
rprojroot             rprojroot      2.0.2
rstudioapi           rstudioapi       0.13
rversions             rversions      2.0.2
rvest                     rvest      0.3.6
selectr                 selectr      0.4-2
sessioninfo         sessioninfo      1.1.1
spelling               spelling        2.2
stringi                 stringi      1.5.3
stringr                 stringr      1.4.0
sys                         sys        3.4
systemfonts         systemfonts      1.0.1
testthat               testthat      3.0.2
textshaping         textshaping      0.3.1
tibble                   tibble      3.1.0
tidyselect           tidyselect      1.1.0
tinytex                 tinytex       0.29
usethis                 usethis      2.0.1
utf8                       utf8      1.1.4
uuid                       uuid      0.1-4
vctrs                     vctrs      0.3.6
waldo                     waldo      0.2.4
whisker                 whisker        0.4
whoami                   whoami      1.3.0
withr                     withr      2.4.1
xfun                       xfun       0.21
xml2                       xml2      1.3.2
xmlparsedata       xmlparsedata      1.0.4
xopen                     xopen      1.0.0
yaml                       yaml      2.2.1
zip                         zip      2.1.1
zlibbioc               zlibbioc     1.20.0
